{% extends "layout.html" %}
{% block body %}
<hr class="extra-margins">
<!-- Main layout --> 
    <div class="container marketing">
        <div class="row" id="accordion">
            <div class="col-lg-6"> <!--QUERY1-->
                <h1>Insert new event</h1>
                <form method="POST">
                    <div class="form-group col-x3-3">
                        <select class="btn mdb-select" name="q1_genre" method="GET">
                            <option value="disabled selected" DISABLED>Choose an artist</option>
                            {% for artist in artists %}
                            <option class="dropdown-item" value= "{{artist.artist_id}}">{{artist.artist_name}}</option>
                            {% endfor %}
                        </select>   
                    </div>
                    <div class="form-group col-x3-3">
                        <input type="text" name="i1_desc" class="form-control">
                        <label for="i1_dec" class="">Description of the event</label>
                    </div>
                    <div class="form-group col-x3-3">
                        <input type="date" name="i1_sale" class="form control">
                        <label for="i1_sale" class="">Sale date</label>
                    </div>
                    <div class="form-group col-x3-3">
                        <input type="date" name="i1_date" class="form control">
                        <label for="i1_date" class="">Date</label>
                    </div>
                    <div class="form-group col-x3-3">
                        <input type="text" name="i1_venue" class="form control">
                        <label for="i1_venue" class="">Venue</label>
                    </div>
                    <div class="form-group col-x3-3">
                        <select class="btn mdb-select" name="q1_genre" method="GET">
                            <option value="disabled selected" DISABLED>Choose a city</option>
                            {% for city in cities %}
                            <option class="dropdown-item" value= "{{city.city_id}}">{{city.city_name}}</option>
                            {% endfor %}
                            </select>   
                    </div>
                    <div class="form-group input col-x3-3 d-block ">
                        <input type="submit" class="btn btn-default" name="btn" value="Insert event">
                    </div>                   
                </form>
            </div>
            <hr class="extra-margins">
        </div>
    </div>

            
{% endblock %}