{% extends "layout.html" %}
{% block body %}
<hr class="extra-margins">
        <!-- Main layout --> 
        <div class="container marketing">

                <!-- Three columns of text below the carousel -->
                <div class="row" id="accordion">
                  <div class="col-lg-4"> <!--QUERY1-->
                    <img class="rounded-circle" src="/static/media/homepage/drum-set.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>TOP Events</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p><button class="btn btn-secondary" data-parent="#accordion" data-toggle="collapse" data-target="#query1" role="button" aria-expanded="false" aria-controls="query1">
                    View details &raquo;</button></p>
                        <div id="query1" class="collapse jumbotron jumbotron-fluid" >
                        <form  method="POST">
                            <div class="row">
                            <div class="form-group input col-6">
                                    <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Genres
                                    </button> -->
                                    <select class="btn mdb-select btn-blue-grey" name="q1_genre" method="GET">
                                        <option value="disabled selected" DISABLED>Choose a genre</option>
                                        {% for genre in genres %}
                                        <option class="dropdown-item" value= "{{genre}}">{{genre}}</option>
                                        {% endfor %}
                                    </select>                                          
                            </div>
                            <div class="form-group input col-6">
                                    <!-- <button class="btn" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                            Location
                                </button> -->
                                    <select class="btn mdb-select btn-blue-grey" name="q1_country" method="GET">
                                        <option value="disabled selected" DISABLED>Choose a location</option>
                                        {% for country in countries %}
                                        <option value= "{{country}}">{{country}}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                            </div>
                            <div class="form-group input col-x3-3">
                                    <input type="text" name="q1_songs" class="form-control">
                                    <label for="songs" class="">Number of songs</label>
                            </div>
                            <div class="form-group input col-x3-3">
                                    <input type="text" name="q1_listeners" class="form-control">
                                    <label for="songs" class="">Number of listeners</label>
                            </div>
                            <div class="form-group input col-x3-3 d-block ">
                             <input type="submit" class="btn btn-default" name="btn" value="Submit 1">
                            </div>
                        </div>
                        </form>
                    </div> <!-- /.col-lg-4 -->
                  <div class="col-lg-4"> <!--QUERY2-->
                    <img class="rounded-circle" src="/static/media/homepage/concert.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>Fresh Artists</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    <p><button class="btn btn-secondary" data-parent="#accordion" id="2" data-toggle="collapse" data-target="#query2" role="button" aria-expanded="false" aria-controls="query2">
                    View details &raquo;</button></p>
                    <div id="query2" class="collapse jumbotron jumbotron-fluid" >
                        <form  method="POST">
                            <div class="form-group input col-x3-3">
                                <input type="date" name="q2_datepicker"  class="form-control" min="2018-01-01" placeholder="YYYY-MM-DD"/>                                      
                                <label for="date" class="">Date</label>
                            </div>
                            <div class="form-group input col-x3-3">
                                    <input type="text" name="q2_times" class="form-control">
                                    <label for="times" class="">Number of times</label>
                            </div>
                            <div class="form-group input col-x3-3 d-block ">
                                <input type="submit" class="btn btn-default" name="btn" value="Submit 2">
                            </div>
                        </form>
                    </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">  <!--QUERY3-->
                    <img class="rounded-circle" src="/static/media/homepage/singer.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>Latest Artists</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><button class="btn btn-secondary" data-parent="#accordion" id="2" data-toggle="collapse" data-target="#query3" role="button" aria-expanded="false" aria-controls="query2">
                    View details &raquo;</button></p>
                    <div id="query3" class="collapse jumbotron jumbotron-fluid" >
                        <form method="POST">
                            <div class="form-group input col-x3-3">
                                    <input type="number" name="q3_years" class="form-control">
                                    <label for="songs" class="">Number of years</label>
                            </div>
                            <div class="form-group input col-x3-3">
                                    <input type="text" name="q3_albums" class="form-control">
                                    <label for="songs" class="">Number of albums</label>
                            </div>
                            <div class="form-group input col-x3-3 d-block ">
                                <input type="submit" class="btn btn-default" name="btn" value="Submit 3">
                            </div>
                        </form>
                    </div> 
                </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div>
{% endblock %}