{% extends "layout.html" %}
{% block body %}
<hr class="extra-margins">
        <!-- Main layout --> 
        <div class="container marketing">
                <!-- Two columns of text below the carousel -->
                <div class="row" id="accordion">
                  <div class="col-lg-6"> <!--QUERY1-->
                    <img class="rounded-circle" src="/static/media/playlists/earphones.png" alt="Generic placeholder image" width="160" height="160">
                    <h2>Playlist By Duration</h2>
                    <p>This feature lets you enter the duration of the drive to the concert, and creates a playlist of the event’s artist’s songs along with their lyrics, so you can learn the songs on the way!</p>
                    <p> <a class="btn btn-default" data-parent="#accordion" data-toggle="collapse" data-target="#playlist1" role="button" aria-expanded="false" aria-controls="query1">
                    Create playlist by duration</a>
                    </p>
                    <div id="playlist1" class="collapse jumbotron jumbotron-fluid" >
                    <form  method="POST">
                                <div class="form-group input col-x3-3">
                                    <input type="number" name="p1_duration"  class="form-control" required/>                                      
                                    <label for="date" class="">Duration(in minutes):</label>
                                </div>
                                <div class="form-group input col-x3-3 d-block ">
                                    <input type="submit" class="btn btn-default" name="submit" value="Get playlist by duration">
                                </div>  
                    </form>
                    </div>
                    </div> <!-- /.col-lg-6 -->
                  <div class="col-lg-6"> <!--QUERY2-->
                    <img class="rounded-circle" src="/static/media/playlists/ipod.png" alt="Generic placeholder image" width="160" height="160">
                    <h2>Kid-friendly Playlist</h2>
                    <p>If you are a worried parent, and do not want to play a playlist containing “bad words”, this is the perfect feature for you! This feature allows you to insert up to three “bad words”, and builds a playlist containing 20 songs by the artist whose songs are most “kid friendly”</p>
                    <p> <a class="btn btn-default" data-parent="#accordion" data-toggle="collapse" data-target="#playlist2" role="button" aria-expanded="false" aria-controls="query1">
                            Create playlist without bad words</a>
                            </p>
                            <div id="playlist2" class="collapse jumbotron jumbotron-fluid" >
                            <form  method="POST">
                                        <div class="form-group input col-x3-3">
                                            <input type="text" name="p2_word1"  class="form-control" required/>                                      
                                            <label for="date" class="">First word:</label>
                                        </div>
                                        <div class="form-group input col-x3-3">
                                            <input type="text" name="p2_word2"  class="form-control"/>                                      
                                            <label for="date" class="">Second word:</label>
                                        </div>
                                        <div class="form-group input col-x3-3">
                                            <input type="text" name="p2_word3"  class="form-control"/>                                      
                                            <label for="date" class="">Third word:</label>
                                            </div>
                                        <div class="form-group input col-x3-3 d-block ">
                                            <input type="submit" class="btn btn-default" name="submit" value="Get playlist without bad words">
                                        </div>  
                            </form>
                            </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <!-- TRIVIA -->
                <div class="row" id="accordion">
                        <div class="col-lg-6"> <!--QUERY2-->
                          <img class="rounded-circle" src="/static/media/playlists/earphones_2.png" alt="Generic placeholder image" width="160" height="160">
                          <h2>Trivia</h2>
                          <h4>Which album contains what words?</h4>
                          <p>This trivia game allows you to challenge your friends by inserting a given word and a number, and have your friends guess: 
                                Which of the chosen event’s artist’s album is the most popular, which also contains at least that number of tracks with the given word?</p>
                          <p><a class="btn btn-default" data-parent="#accordion" data-toggle="collapse" data-target="#trivia2" role="button" aria-expanded="false" aria-controls="query1">
                                Play trivia! </a>
                                </p>
                                <div id="trivia2" class="collapse jumbotron jumbotron-fluid" >
                                <form  method="POST">
                                    <div class="form-group input col-x3-3">
                                    <input type="text" name="t1_word"  class="form-control" required/>                                      
                                    <label for="date" class="">Word:</label>
                                    </div>
                                    <div class="form-group input col-x3-3">
                                    <input type="number" name="t1_tracks"  class="form-control" required/>                                      
                                    <label for="date" class="">Number of tracks:</label>
                                    </div>
                                    <div class="form-group input col-x3-3 d-block ">
                                        <input type="submit" class="btn btn-default" name="submit" value="Let's play trivia 1!">
                                    </div>  
                                </form>
                          </div>
                          </div><!-- /.col-lg-6 -->
                          <div class="col-lg-6"> 
                                <img class="rounded-circle" src="/static/media/playlists/music.png" alt="Generic placeholder image" width="160" height="160">
                                <h2>Trivia</h2>
                                <h4>Which city loves the genre most?</h4>
                                <p>This game allows you to insert a name of a genre, and find out the city who loves that genre the most!
                                        The city that loves the genre the most is the one that had the highest percentage of events of the said genre?</p>
                                <p><a class="btn btn-default" data-parent="#accordion" data-toggle="collapse" data-target="#trivia1" role="button" aria-expanded="false" aria-controls="query1">
                                      Play trivia! </a>
                                      </p>
                                      <div id="trivia1" class="collapse jumbotron jumbotron-fluid" >
                                      <form  method="POST">
                                          <div class="form-group input col-x3-3">
                                          <select class="btn mdb-select btn-blue-grey" name="q1_genre" method="GET" required>
                                              <option value="disabled selected" DISABLED>Choose a genre</option>
                                              {% for genre in genres %}
                                              <option class="dropdown-item" value= "{{genre}}">{{genre}}</option>
                                              {% endfor %}
                                          </select>     
                                          </div>
                                          <div class="form-group input col-x3-3 d-block ">
                                              <input type="submit" class="btn btn-success" name="submit" value="Let's play trivia 2!">
                                          </div>  
                                      </form>
                                      </div>
                                </div> <!-- /.col-lg-6 -->
                      </div><!-- /.row -->
            </div>
{% endblock %}